/* ------- Entire Site ------- */

* {
    font-family: 'Raleway', sans-serif;
    color: #4D5C65;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 6fr 2fr;
    margin: 8px 40px;
}

/* ------ Header Section ------ */

header {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align:center;
    font-weight: bold;
}

#nav {
    grid-column: 1/3;
    position: fixed;
    top: 0;
    padding: 25px;
    width: 100%;
    background-color: white;
}

nav a {
    text-align: center;
    color: #809CAD;
}

h1 {
    padding: 150px;
    background-image: url(images/blog_header_bg.jpg);
    background-position: center;
    background-size: contain;
    font-size: 45px;
    color: white;
}

header a {
    text-decoration:  none;
    font-size: 13px;
}

/* ------ Blog Body ------ */
.main-layout {
    display:grid;
}

main {
    grid-column: 1/2;
    margin: 0 75px;
}

main img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 13px;
    width: 40em;
}

main h3{
    margin-bottom: 0;
}

/* -------Sidebar ------ */

.sidebar {
    grid-column: 2/3;
    margin: 0 75px;
}

li a {
    color:#829EAF;
    text-decoration: none;
    font-weight: bolder;
}

/* ------ Comment Box ------ */

aside {
    grid-column: 1/3;
    display:flex;
    flex-direction: column;
}

/* ------ Footer ------ */

footer {
    grid-column: 1/3;
    grid-row: 9/12;
    background-color: #CDF3F6;
    text-align: center;
}

footer input[type="submit"]:hover {
    background-color: #79858C;
    color: white;
}
